In [1]:
import pandas as pd

# distance bewteen two locations

In [16]:
from math import sin, cos, sqrt, atan2, radians

In [17]:
sub_market=pd.read_csv('submarket_3.csv')
top_msa=pd.read_csv('msa_top.csv')

In [18]:
sub_market['tep']=1
top_msa['tep']=1
df= pd.merge(sub_market,top_msa, on=['tep'])
df.drop('tep', axis=1)

,submarket_city,state,MSA,MSA_population_2019,MSA_rank_by polulation,lat1,lng1,city_population,density,Rank,MSA_TOP,2019 estimate,lat2,lng2
0,Orlando,FL,"Orlando-Kissimmee-Sanford, FL","2,608,147",23.0,28.4772,-81.3369,1822394,1003,1,"New York City-Newark-Jersey City, NY-NJ-PA",19216182,40.6943,-73.9249
1,Orlando,FL,"Orlando-Kissimmee-Sanford, FL","2,608,147",23.0,28.4772,-81.3369,1822394,1003,2,"Los Angeles-Long Beach-Anaheim, CA",13214799,34.1139,-118.4068
2,Orlando,FL,"Orlando-Kissimmee-Sanford, FL","2,608,147",23.0,28.4772,-81.3369,1822394,1003,3,"Chicago-Naperville-Elgin, IL-IN-WI",9458539,41.8373,-87.6862
3,Orlando,FL,"Orlando-Kissimmee-Sanford, FL","2,608,147",23.0,28.4772,-81.3369,1822394,1003,4,"Dallas-Fort Worth-Arlington, TX",7573136,32.7936,-96.7662
4,Orlando,FL,"Orlando-Kissimmee-Sanford, FL","2,608,147",23.0,28.4772,-81.3369,1822394,1003,5,"Houston-The Woodlands-Sugar Land, TX",7066141,29.7863,-95.3889
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,Tulsa,OK,"Tulsa, OK","998,626",55.0,36.1284,-95.9042,671033,784,6,"Washington-Arlington-Alexandria, DC-VA-MD-WV",6280487,38.9047,-77.0163
186,Tulsa,OK,"Tulsa, OK","998,626",55.0,36.1284,-95.9042,671033,784,7,"Miami-Fort Lauderdale-West Palm Beach, FL",6166488,25.7839,-80.2102
187,Tulsa,OK,"Tulsa, OK","998,626",55.0,36.1284,-95.9042,671033,784,8,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",6102434,40.0077,-75.1339
188,Tulsa,OK,"Tulsa, OK","998,626",55.0,36.1284,-95.9042,671033,784,9,"Atlanta-Sandy Springs-Alpharetta, GA",6020364,33.7627,-84.4224
189,Tulsa,OK,"Tulsa, OK","998,626",55.0,36.1284,-95.9042,671033,784,10,"Phoenix-Mesa-Chandler, AZ",4948203,33.5722,-112.0891

In [19]:
df['dist']=1

In [ ]:
R = 6373.0
for i in range(len(df)):
    lat1 = radians(df['lat1'][i])
    lon1 = radians(df['lng1'][i])
    lat2 = radians(df['lat2'][i])
    lon2 = radians(df['lng2'][i])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    df['dist'][i] = R * c

In [21]:
df2=df.sort_values(['MSA','dist']).drop_duplicates(['submarket_city'],keep='first')

In [22]:
df2.to_csv('dist_submarket_msa_top.csv')